{% extends "base.html" %}
{% block title %}Ticket Magasin{% endblock %}
{% block content %}
    <h4>Ticket créé par : {{ object.auteur.username|capfirst }}</h4>
    <h5>Date : {{ object.moment }}</h5>
    <h5>Total : {{ object.total|floatformat:"2" }}&nbsp;€</h5>
    <table>
        <thead>
            <tr>
                <th>Quantité</th>
                <th style="text-align:left;">Libellé</th>
                <th>Prix unitaire</th>
                <th>Total hors taxes</th>
                <th>TVA</th>
                <th>Total</th>
            </tr>
        </thead>
        {% for line in object.mouvementticket_set.all %}
        <tr>
            <td>{{ line.qte }}</td>
            <td style="width:250px;">{{ line.article }}</td>
            <td style="text-align:right;">{{ line.article.prix_vente|floatformat:"2" }}&nbsp;€</td>
            <td style="text-align:right;">{{ line.total_htva|floatformat:"2" }}&nbsp;€</td>
            <td style="text-align:right;">{{ line.total_tva|floatformat:"2" }}&nbsp;€</td>
            <td style="text-align:right;">{{ line.total_ttc|floatformat:"2" }}&nbsp;€</td>
        </tr>
        {% endfor %}
        <tr>    
            <td colspan="5" style="text-align:left; font-weight:bold; border-top:solid grey 1px;">TOTAL</td>
            <td style="text-align:right; font-weight:bold; border-top:solid grey 1px;">{{ object.total|floatformat:"2" }}&nbsp;€</td>
        </tr>
    </table>
    <br />
    <br />
    <input type="button" onClick="parent.location=/stock/" value="retour"/>
{% endblock %}
